.git
.gitignore
.gitattributes
.env.*.local
node_modules
npm-debug.log
yarn-error.log
vendor/bin
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.php_cs.cache
.phpcs.xml
phpunit.xml
.coverage
build/
dist/
.github
docker-compose.yml
docker-compose.*.yml
Dockerfile
.dockerignore
README.md
CHANGELOG.md
LICENSE
tests/
